.git
.github
.env
.env.*
!.env.example
.phpunit.result.cache

node_modules
vendor

database/*.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

YipCommerce_Case_Study.pdf
*.log
